[Unit]
Description=Telegram JamJobBot Backend Service
After=network.target

[Service]
User=app
Group=app
Type=simple
WorkingDirectory=/usr/src/app
ExecStart=/usr/bin/python3 app.py
Restart=always

[Install]
WantedBy=multi-user.target
